# Ignore .env file
.env

# Ignore IDE and editor files
.vscode/
.idea/
.DS_Store

# Ignore Composer dependencies folder
vendor/

# Ignore the .htaccess file
.htaccess

# Ignore all .txt files
*.txt

# Ignore the generated directory structure file
generate_tree.php
project_structure.txt
